@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/ol/ol.css';

@font-face {
  font-family: 'Inter var';
  src: url('/fonts/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono.ttf') format('truetype');
}